@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
}
.noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

/* Shared Style*/
.color_1{
    color: #000000;
}

.color_2{
    color: #E95A08;
}

.color_3{
    color: #111111; /* Product title Color */
}
.color_4{
    color: #7b7c80;
}

.section_title{
    font-size: 50px;
    font-family: "Noto Serif", serif;
    font-weight: bold;
}
.section_description{
    font-size: 19px;
    color: #7b7c80;
    font-family: "Inter", sans-serif;
}


body{
    background-color: #f5f8ff;
}

/* ----------Header Section---------- */
header{
    background-color: #f5f8ff;
    padding: 20px 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav_logo {
    width: 115px;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li a{
    color: #7b7c80;
    
}
nav .first_child a{
    font-weight: bold;
    color: #2e2432;
}

/* -------------------Main Website------------------- */

/* ----------Banner Section---------- */
.banner_section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 150px;
    padding-top: 180px;
    padding-bottom: 40px;
}

.banner_title{
    font-size: 60px;
}
.banner_description{
    font-size: 19px;
    margin-top: 13px;
}

/* ----------Our Plants Section---------- */
.ourplants_section {
    padding: 80px 0;
    text-align: center;
}
.ourplants_section_text {
    width: 730px;
    margin: auto;
    padding: 16px 126px;
}
.plants_products_card{
    padding: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.plants_card_img {
    padding-bottom: 20px;
    width: 248px;
}
.plants_product_title{
    font-size: 19px;
    font-weight: 500;
}
.plants_product_price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}
.plants_card_button {
    background-color: #E95A08;
    color: #ffffff;
    padding: 15px 77px;
    font-weight: 600;
    border: none;
}

/* -------------------Responsive CSS------------------- */

/* Header nav Responsive */
@media screen and (max-width:640px) {
    nav, .banner_section {
        margin: 0px 18px;
    }
    .nav_logo {
        width: 80px;
        }
    nav ul li{
        display: none;
    }
}

/* Main Responsive */
@media screen and (max-width:640px) {
    .section_title{
        font-weight: 24px;
    }
    .section_description{
        font-size: 14px;
    }
}

/* Banner Section Responsive */
@media screen and (max-width:640px) {
    .banner_section {
        flex-direction: column-reverse;
        padding-top: 28px;
    }
    .banner_image{
        max-width: 100%;
    }
    .banner_title{
        font-size: 24px;
        padding-top: 25px;
    }
    .banner_description{
        font-size: 14px;
    }
}
